<script>
    import photo from '../../mixins/photo';

    export default {
        name: 'album',

        mixins: [ photo ],

        props: {
            album: {
                type: Object
            }
        },

        filters: {
            date(value) {
                return moment(value, 'YYYY-MM-DD HH:mm:ss').format('DD MMMM YYYY');
            }
        }
    }
</script>

<template>
    <div>
        <div class="date">
            Created {{ album.created_at | date }}
        </div>

        <div class="row">
            <div v-for="photo in album.photos" class="col-md-4">
                <div class="photo-wrp">
                    <img :src="url(photo.path)" alt="photo">
                    <div class="photo-like">
                        <div class="like-icon">
                            <img src="/images/loi.png" alt="">
                        </div>
                        <div class="loi-count">{{ photo.votes_count }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>