<script>
    import Album from "./AllStats/Album.vue";

    export default {
        name: 'all-stats',

        components: { Album },

        props: {
            user: {
                type: Object
            },

            opened: {
                type: Boolean,
                default: false
            }
        },

        data() {
            return {
                albums: {
                    approved: [],
                    pending: []
                },

                newDataAvailable: false
            }
        },

        watch: {
            opened(value) {
                if (value == true) {
                    this.load();
                }
            },

            user(value) {
                if (value) {
                    this.listen();
                }
            }
        },

        methods: {
            load() {
                axios.get('/albums')
                    .then(response => {
                        this.albums.approved = response.data.approved ? response.data.approved : [];
                        this.albums.pending = response.data.pending ? response.data.pending : [];
                    })
                    .catch(error => this.$parent.$emit('axios-error', error));
            },

            refresh() {
                this.load();

                this.newDataAvailable = false;
            },

            listen() {
                Echo.channel(`user.${this.user.id}`)
                    .listen('UserVotedOn', (event) => {
                        this.newDataAvailable = true;
                    });
            }
        },

        mounted() {
            if (this.user) {
                this.listen();
            }
        }
    }
</script>

<template>
    <div class="stats-wrap" id="statistic-main">
        <section class="approved">
            <div class="container">
                <div class="section-header">
                    <div class="flex-container flex-container--align-center flex-container--justify-between">
                        <div class="section-title">
                            Approved albums
                        </div>
                        <a href="#" v-show="newDataAvailable" @click="refresh" class="title-btn">
                            <img src="/images/refresh.png" alt="arrow"><span class="text-btn">New data is available - click here to refresh</span>
                        </a>
                    </div>
                </div>

                <album v-for="(album, key) in albums.approved"
                       class="row-items"
                       :album="album"
                       :key="key"
                ></album>
            </div>
        </section>

        <section class="pending">
            <div class="container">
                <div class="section-header">
                    <div class="section-title">
                        Albums pending approval
                    </div>
                </div>

                <album v-for="(album, key) in albums.pending"
                       class="row-items"
                       :album="album"
                       :key="key"
                ></album>
            </div>
        </section>
    </div>
</template>