<script>
	import AppHeader from './AppHeader.vue';
	import Introduction from './Introduction.vue';
	import FacebookLogin from './FacebookLogin.vue';
	import AppBody from './AppBody.vue';
    import SelectImages from "./SelectImages.vue";

    import notification from 'notification-js';
    import AllStats from "./AllStats.vue";

	export default {
		name: 'help-me-tinder',

		components: {
            AppHeader,
			Introduction,
			FacebookLogin,
			AppBody,

            SelectImages,
            AllStats
        },

		props: {
		    appId: {
		        type: String
			}
		},

		data() {
		    return {
                fbInitialized: false,

                user: null,
				accessToken: null,
                authorized: false,
                shouldReauthenticate: false,

				selectImagesOpened: false,
				allStatusOpened: false
			}
		},

		methods: {
			toggleAllStatus() {
			  	this.allStatusOpened = ! this.allStatusOpened;
			},

            loadUser(id) {
                axios.put(`/users/facebook`)
                    .then(response => {
                        this.user = response.data;

                        this.authorized = true;
                    })
                    .catch(error => {
                        this.$eventHub.$emit('axios-error', error);

                        FB.logout();
                    });
            },

            statusChanged(response) {
                if (response.status == 'connected') {
                    this.accessToken = response.authResponse.accessToken;

                    this.loadUser(response.authResponse.userID, response.authResponse.accessToken);
                } else {
                    this.accessToken = null;
                    this.user = null;
                    this.authorized = false;
                }
            },

            login() {
		        // Wait for SDK
		        if ( ! this.fbInitialized) {
		            return;
                }

                if (this.authorized) {
                    return;
                }

                FB.getLoginStatus(response => {
                    this.statusChanged(response);

                    if (response.status != 'connected') {
                        FB.login(null, {scope: 'public_profile,email,user_birthday,user_hometown,user_location,user_photos'});
                    }
                });
            }
		},

		created() {
            this.$eventHub.$on('login', () => this.login());

		    window.fbAsyncInit = () => {
                FB.init({
                    appId            : this.appId,
                    autoLogAppEvents : true,
                    xfbml            : true,
                    version          : 'v2.11',
                    status           : true,
                    cookie           : true
                });

                this.fbInitialized = true;

                FB.Event.subscribe('auth.login', response => {
                    this.statusChanged(response);
                });
                FB.Event.subscribe('auth.logout', response => {
                    this.statusChanged(response);
                });

                FB.getLoginStatus(response => {
                    this.statusChanged(response);
                });
            };

            (function(d, s, id, appId){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js?appId=" + appId;
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk', this.appId));
		}
	}
</script>

<template>
	<div>
		<app-header :user="user"
					:all-status-opened="allStatusOpened"
					@toggle-all-status="toggleAllStatus"
		></app-header>

		<div class="wrap">
			<select-images :access-token="accessToken"></select-images>
			<all-stats :user="user" :class="{'open': allStatusOpened}" :opened="allStatusOpened"></all-stats>

			<introduction></introduction>

			<facebook-login v-if=" ! authorized" @login="login"></facebook-login>

			<app-body :authorized="authorized"></app-body>
		</div>
	</div>
</template>