<script>
    import Voting from './Voting.vue';
    import TopContributors from './TopContributors.vue';

    export default {
        name: 'app-body',

        props: {
            authorized: {
                type: Boolean
            }
        },

        components: { Voting, TopContributors }
    }
</script>

<template>
    <section id="vote">
        <div class="container">
            <div class="row">
                <voting :authorized="authorized" class="col-md-9"></voting>

                <top-contributors class="col-md-3"></top-contributors>
            </div>
        </div>
    </section>
</template>