<script>
    export default {
        name: 'facebook-login',

        props: {
            loginUrl: {
                type: String
            }
        },

        methods: {

        }
    }
</script>

<template>
    <section id="fb-connect" @click="$emit('login')">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="fb-icon">
                        <img src="/images/icon_fb.png" alt="Login with Facebook"/>
                    </div>
                    <div class="text">
                        <span class="highlight">GET STARTED</span>
                        <span class="sub">Connect with Facebook</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>