<script>
    export default {
        name: 'introduction'
    }
</script>

<template>
    <section id="introduction">
        <div class="container-fluid">
            <div class="row">

                <div class="text text-center">
                    <h1>Get more Tinder matches</h1>
                    <p>Let others users help you decide which profile pictures fits you the best</p>
                </div>

                <div class="icons">
                    <div class="col-md-6 col-md-offset-3">

                        <div class="col-md-4 text-center">
                            <div class="icon">
                                <img src="/images/icon_receive.png" alt="Receive more matches"/>
                            </div>
                            <div class="icon-label">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="icon">
                                <img src="/images/icon_favorite.png" alt="Receive more matches"/>
                            </div>
                            <div class="icon-label">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="icon">
                                <img src="/images/icon_like.png" alt="Receive more matches"/>
                            </div>
                            <div class="icon-label">
                                Lorem ipsum dolor sit amet
                            </div>
                        </div>


                    </div>
                </div>


            </div>
        </div>
    </section>
</template>