<script>
    export default {
        name: 'select-images',

        props: {
            accessToken: {
                type: String
            }
        },

        computed: {
            photos() {
                let photos = [];

                this.fbPhotos.forEach(photo => {
                    let founded = false;

                    this.myPhotos.forEach(myPhoto => {
                        if (myPhoto.facebook_photo_id == photo.id) {
                            founded = true;

                            return false;
                        }
                    });

                    if ( ! founded) {
                        photos.push(photo);
                    }
                });

                return photos;
            }
        },

        data() {
            return {
                myPhotos: [],
                fbPhotos: [],

                selected: [],
                shouldSave: false
            }
        },

        methods: {
            loadMyPhotos() {
                return axios.get('/photos');
            },

            makePhotoURL(id) {
                return 'https://graph.facebook.com/' + id + '/picture?access_token=' + this.accessToken;
            },

            loadFBPhotos() {
                return new Promise((resolve, reject) => {
                    FB.api('/me/photos', { type: 'uploaded' }, response => {
                        if ( ! response || response.error) {
                            reject(response);
                        } else {
                            response.data.forEach(photo => {
                                photo.path = this.makePhotoURL(photo.id);
                            });

                            resolve(response);
                        }
                    });
                });
            },

            isSelected(photo) {
                return this.selected.findIndex(sel => sel.id == photo.id) != -1;
            },

            select(photo) {
                if (this.isSelected(photo)) {
                    this.selected.splice(this.selected.findIndex(sel => sel.id == photo.id), 1);

                    return;
                }

                if (this.selected.length == 3) {
                    return;
                }

                this.selected.push(photo);
            },

            save() {
                this.shouldSave = true;
            }
        },

        mounted() {
            $('#firstModal').on('shown.bs.modal', () => {
                Promise.all([
                    this.loadMyPhotos(),
                    this.loadFBPhotos()
                ]).then(results => {
                    this.myPhotos = results[0].data;
                    this.fbPhotos = results[1].data;
                });
            }).on('hidden.bs.modal', () => {
                if (this.shouldSave) {
                    axios.post('/albums', { photos: this.selected, accessToken: this.accessToken })
                        .then(response => {
                        })
                        .catch(error => this.$eventHub.$emit('axios-error', error));
                }

                this.selected = [];
                this.shouldSave = false;
            });
        }
    }
</script>

<template>
    <div>
        <div class="modal fade" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="/images/close.png" alt="close"></button>
                        <h4 class="modal-title" id="ModalLabel">Select 3 Images <span>These images will be the images other users vote on</span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body-container">
                            <div class="row">
                                <div v-for="photo in photos" class="col-md-4">
                                    <div :class="{'photo-ch-wrp': true, 'active-img': isSelected(photo)}"
                                         @click="select(photo)"
                                    >
                                        <img :src="photo.path" alt="photo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                :class="{'btn modal-btn': true, 'visible-btn': selected.length == 3}"
                                @click="save"
                                data-dismiss="modal"
                                data-toggle="modal"
                                data-target="#secondModal"
                                id="next-step"
                        >Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="secondModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header modal-header--thx">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="/images/close.png" alt="close"></button>
                        <h4 class="modal-title modal-title--thx" id="ModalLabel2">Thanks!</h4>
                    </div>
                    <div class="modal-body modal-body--thx">
                        <div>Your images are pending approval. We’ll let you know as soon they’re added.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>