<script>
    import TopUsers from "./TopContributors/Users.vue";
    import TopCountries from "./TopContributors/Countries.vue";

    export default {
        name: 'top-contributors',

        components: { TopCountries, TopUsers },

        data() {
            return {
                view: 'top-users'
            }
        }
    }
</script>

<template>
    <div>
        <div class="contributors">
            <h3>Top Contributors</h3>

            <div class="contributor-rankings">

                <div class="nav-toggle">
                    <div :class="['col-md-6 nav-toggle-item nav-toggle-user', (this.view == 'top-users' ? 'active' : '')]"
                         @click="view = 'top-users'"
                    >
                        By user
                    </div>
                    <div :class="['col-md-6 nav-toggle-item nav-toggle-country', (this.view == 'top-countries' ? 'active' : '')]"
                         @click="view = 'top-countries'"
                    >
                        By country
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="rankings">
                    <top-users v-show="view == 'top-users'"></top-users>

                    <top-countries v-show="view == 'top-countries'"></top-countries>
                </div>
            </div>
        </div>
    </div>
</template>