/*
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}
*/
body {
  background-color: #ffffff;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #45484c; }

h1 {
  font-size: 80px;
  font-family: "Chewy", cursive; }

h2 {
  font-size: 65px;
  font-family: "Chewy", cursive;
  color: #519db7; }

h3 {
  font-family: "Chewy", cursive;
  color: #d76f2c; }

a {
  color: #d2664d;
  outline: none;
  -webkit-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out; }
  a:hover, a:focus, a:active {
    outline: none;
    color: #d2664d; }

a:hover {
  color: #6a250c; }

nav {
  margin: 32px 0 0 0; }
  nav ul li {
    list-style: none;
    margin: 0 0 0 22px; }

header {
  overflow: hidden; }
  header .vertical-center {
    position: relative; }
  header .flex-container {
    position: relative;
    z-index: 99; }
    header .flex-container .logo {
      border-color: rgba(220, 220, 220, 0);
      -webkit-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
    header .flex-container .help,
    header .flex-container .stats,
    header .flex-container .user-zone {
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
    header .flex-container.active .logo {
      border-color: gainsboro; }
    header .flex-container.active .help,
    header .flex-container.active .stats,
    header .flex-container.active .user-zone {
      visibility: visible;
      opacity: 1; }

.notice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%); }

.icon {
  display: inline-block;
  -webkit-transition: background 0.4s ease-out;
  -o-transition: background 0.4s ease-out;
  transition: background 0.4s ease-out; }
  .icon.icon-people {
    background: url("../images/icon_people_active.png") no-repeat;
    width: 37px;
    height: 22px; }
    .icon.icon-people.inactive {
      background: url("../images/icon_people_inactive.png") no-repeat; }
  .icon.icon-person {
    background: url("../images/icon_person_active.png") no-repeat;
    width: 20px;
    height: 20px; }
    .icon.icon-person.inactive {
      background: url("../images/icon_person_inactive.png") no-repeat; }

.help-stats {
  font-weight: 900;
  margin-top: 29px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: color 0.4s ease-out;
  -o-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out; }
  .help-stats .help-stats-inner {
    position: absolute;
    width: 100%;
    left: 50%;
    /* bring your own prefixes */
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .help-stats.inactive {
    color: #dedede; }
  .help-stats .help-item {
    float: left;
    text-align: center;
    border-right: 1px solid #dbdbdb;
    padding: 0 20px 0 20px; }
  .help-stats .help-item:first-child {
    border-left: 1px solid #dbdbdb; }
  .help-stats .tagline {
    font-size: 11px;
    text-transform: uppercase; }
  .help-stats .number {
    font-size: 24px; }
    .help-stats .number span {
      padding-left: 6px;
      padding-right: 6px; }

.adm .avatar {
  -webkit-border-radius: 50% 50%;
  border-radius: 50% 50%;
  width: 60px;
  height: 60px;
  overflow: hidden;
  text-align: center; }

#fb-connect {
  position: relative;
  width: 100%;
  background-color: #4175ba;
  color: #ffffff;
  padding: 14px 0 0 0;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  #fb-connect .fb-icon {
    position: relative;
    bottom: 17px;
    display: inline-block;
    margin-right: 18px; }
  #fb-connect .text {
    position: relative;
    display: inline-block; }
    #fb-connect .text span {
      display: block; }
    #fb-connect .text .highlight {
      position: relative;
      font-size: 23px;
      font-weight: 900; }
    #fb-connect .text .sub {
      position: relative;
      top: -4px;
      font-size: 14px; }
  #fb-connect .logged {
    overflow: hidden; }
  #fb-connect.logged {
    height: 0;
    padding: 0; }
    #fb-connect.logged .container {
      display: none; }
    #fb-connect.logged .fb-icon,
    #fb-connect.logged .text {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }

#fb-connect:hover {
  background-color: #1c4a88; }

#introduction {
  position: relative;
  background: url("../images/intro_bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 365px;
  color: #ffffff; }
  #introduction .text {
    position: relative;
    top: 35px; }
    #introduction .text p {
      font-size: 18px; }
  #introduction .icons {
    position: absolute;
    bottom: 0;
    background-color: #c872d8;
    background-color: rgba(200, 114, 216, 0.12);
    width: 100%;
    height: 125px; }
    #introduction .icons .icon {
      padding: 20px 0 0 0; }
    #introduction .icons .icon-label {
      font-size: 14px;
      padding-top: 14px; }

#vote {
  padding: 40px 0 40px 0; }
  #vote p {
    font-size: 18px;
    font-style: italic;
    color: #7b6a73;
    margin: 0 0 0 0; }
  #vote h2 {
    margin: 0 0 10px 0; }
  #vote .user-helped-container {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block; }
    #vote .user-helped-container .user-helped-current {
      position: relative;
      top: 0;
      left: 0; }
    #vote .user-helped-container .user-helped-next {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden; }
  #vote .quote {
    display: inline-block;
    font-size: 18px;
    color: #000000; }
  #vote .image-container {
    margin: 30px 0 60px 0; }
    #vote .image-container .no-padding {
      padding: 0; }
    #vote .image-container .image-item {
      padding: 0 20px 0 0;
      cursor: pointer; }
      #vote .image-container .image-item .thumb-container {
        position: absolute;
        right: 20px;
        bottom: 0;
        background: #ffffff;
        background: rgba(255, 255, 255, 0.5);
        z-index: 997;
        -webkit-transition: background-color 0.1s ease-out;
        -o-transition: background-color 0.1s ease-out;
        transition: background-color 0.1s ease-out; }
        #vote .image-container .image-item .thumb-container .thumb-yes {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          -webkit-transition: opacity 0.2s ease-out;
          -o-transition: opacity 0.2s ease-out;
          transition: opacity 0.2s ease-out;
          z-index: 995; }
        #vote .image-container .image-item .thumb-container .thumb-default {
          position: relative;
          top: 0;
          left: 0;
          opacity: 0.5; }
        #vote .image-container .image-item .thumb-container.active {
          background: #644756;
          background: #644756; }
          #vote .image-container .image-item .thumb-container.active .thumb-yes {
            opacity: 1; }
      #vote .image-container .image-item .user-image {
        position: relative;
        width: 100%;
        overflow: hidden; }
        #vote .image-container .image-item .user-image img {
          max-width: 100%; }
        #vote .image-container .image-item .user-image .image-current {
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 994; }
          #vote .image-container .image-item .user-image .image-current.fade-out {
            opacity: 0.1; }
            #vote .image-container .image-item .user-image .image-current.fade-out .thumb-container {
              display: none; }
        #vote .image-container .image-item .user-image .image-next {
          position: absolute;
          top: 0;
          left: 100%;
          width: 100%;
          z-index: 995; }
      #vote .image-container .image-item.fade-out .thumb-container {
        display: none; }
    #vote .image-container .image-item:hover .thumb-container {
      background: #644756;
      background: #644756; }
      #vote .image-container .image-item:hover .thumb-container .thumb-yes {
        opacity: 1; }
  #vote .contributors h3 {
    color: #644756;
    font-size: 36px; }
  #vote .contributors .contributor-rankings {
    margin: 30px 0 0 0; }
    #vote .contributors .contributor-rankings .nav-toggle {
      color: #9e9e9e;
      border-top: 1px solid #d5d5d5;
      border-bottom: 1px solid #d5d5d5;
      text-align: center;
      cursor: pointer; }
      #vote .contributors .contributor-rankings .nav-toggle .nav-toggle-item:hover {
        color: #519db7; }
      #vote .contributors .contributor-rankings .nav-toggle .nav-toggle-user {
        border-right: 1px solid #d5d5d5; }
      #vote .contributors .contributor-rankings .nav-toggle .nav-toggle-user, #vote .contributors .contributor-rankings .nav-toggle .nav-toggle-country {
        padding: 20px 0 20px 0; }
      #vote .contributors .contributor-rankings .nav-toggle .active {
        color: #519db7; }
    #vote .contributors .contributor-rankings .rankings .rank-item {
      padding: 20px 0 0; }
      #vote .contributors .contributor-rankings .rankings .rank-item .name-container {
        font-size: 17px;
        margin: -2px 0 0 10px; }
        #vote .contributors .contributor-rankings .rankings .rank-item .name-container .country {
          display: block;
          font-size: 13px;
          color: #9b9997;
          margin-top: -5px; }
      #vote .contributors .contributor-rankings .rankings .rank-item .love {
        background: url("../images/heart.png") no-repeat;
        width: 30px;
        height: 27px;
        font-size: 11px;
        color: #ffffff;
        text-align: center;
        position: relative;
        top: 4px; }
        #vote .contributors .contributor-rankings .rankings .rank-item .love .love-number {
          position: relative;
          top: 4px; }
      #vote .contributors .contributor-rankings .rankings .rank-item .split-dash {
        background: url("../images/split_dash.png") repeat-x;
        height: 1px;
        margin: 20px 0 0 0; }
    #vote .contributors .contributor-rankings .rankings .rankings-country .rank-item {
      padding: 20px 0 0; }
      #vote .contributors .contributor-rankings .rankings .rankings-country .rank-item .name-container .country {
        margin: 7px 0 0 0;
        font-size: 17px;
        color: #45484c; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5/4), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

body {
  padding-right: 0 !important; }

header {
  background-color: #efeeec;
  position: relative;
  z-index: 999; }

.wrap {
  position: relative; }

.stats-wrap {
  position: absolute;
  z-index: 998;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 100px;
  -webkit-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  transform: translateY(-150%);
  -webkit-transition: ease-in-out 1s;
  -o-transition: ease-in-out 1s;
  transition: ease-in-out 1s; }

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .flex-container--align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .flex-container--align-stretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .flex-container--justify-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .flex-container--justify-around {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }

.vertical-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

/*JS Class*/
.open {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

.active-img {
  border-color: #2ebaee !important; }

.visible-btn {
  display: block !important; }

.logo {
  padding-right: 38px;
  padding-bottom: 7px;
  border-right: 2px solid #dcdcdc; }

.counter {
  color: #32a9d0;
  font-family: "Lato", Arial, sans-serif;
  font-size: 58px;
  font-weight: 400;
  line-height: 53.05px;
  text-transform: uppercase;
  padding-right: 13px; }

.header-icon {
  display: inline-block; }

.help {
  width: 40%;
  padding-left: 35px;
  padding-right: 35px;
  border-right: 2px solid #dcdcdc; }

.info__text {
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300; }

.stats {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  cursor: pointer;
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  width: 20%;
  text-align: center; }
  .stats__icon {
    max-width: 42px; }
  .stats:hover, .stats.active-status {
    background-color: #fff;
    color: #32a9d0;
    font-weight: 400; }

.user-zone {
  width: 100%;
  background-color: #32a9d0;
  padding-left: 20px;
  min-height: 100px;
  -webkit-box-shadow: -7px 4px 13px rgba(0, 0, 0, 0.19);
  box-shadow: -7px 4px 13px rgba(0, 0, 0, 0.19);
  cursor: pointer; }
  .user-zone__text {
    color: #fff; }

.user-zone-title {
  font-family: "Lato", Arial, sans-serif;
  font-size: 19px;
  font-weight: 700; }

.user-zone-description {
  font-family: "Lato", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300; }

.user-avatar {
  position: relative; }
  .user-avatar:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(66, 86, 209, 0.31); }

.section-header {
  margin-bottom: 15px; }

.section-title {
  font-family: Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #644756; }

.title-btn {
  display: block;
  cursor: pointer;
  padding: 25px 40px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  background-color: #32a9d0;
  color: #fff; }
  .title-btn:hover, .title-btn:visited, .title-btn:active {
    color: #fff;
    text-decoration: none; }

.text-btn {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px; }

.date {
  color: #644756;
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 20px; }

.photo-wrp {
  position: relative; }
  .photo-wrp img {
    width: 100%; }

.photo-like {
  cursor: pointer;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70px;
  height: 45px;
  background-color: #725966; }

.loi-count {
  font-family: "Lato", Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #fff; }

.photo-like {
  text-align: center;
  padding-top: 5px; }
  .photo-like div {
    display: inline-block; }

.like-icon {
  margin-right: 5px;
  width: 18px;
  height: 20px; }

.row-items {
  margin-bottom: 45px; }
  .row-items:last-of-type {
    margin-bottom: 0; }

.approved {
  margin-bottom: 100px; }

.modal-dialog {
  width: 880px;
  margin: 264px auto; }

.modal-content {
  border: none; }

.modal-header {
  padding-left: 70px;
  padding-right: 22px;
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #2ebaee;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;
  border-bottom: none; }
  .modal-header--thx {
    padding-right: 70px; }

.modal-title {
  color: #ffffff;
  font-family: "Lato", Arial, sans-serif;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 1px; }
  .modal-title span {
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    vertical-align: middle;
    margin-left: 10px; }
  .modal-title--thx {
    text-align: center;
    font-weight: 700; }

.close {
  float: none;
  position: absolute;
  top: 18px;
  right: 22px;
  opacity: 1; }

.modal-body {
  padding-top: 60px; }
  .modal-body--thx {
    padding-bottom: 60px;
    text-align: center;
    font-weight: 700; }

.modal-body-container {
  max-width: 805px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.photo-ch-wrp {
  margin-bottom: 30px;
  border: 7px solid transparent;
  cursor: pointer; }
  .photo-ch-wrp img {
    width: 100%; }

.modal-footer {
  border-top: none;
  text-align: center;
  padding-top: 0;
  padding-bottom: 45px; }

.modal-btn {
  display: none;
  -webkit-border-radius: 31px;
  border-radius: 31px;
  background-color: #2ebaee;
  color: white;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "Lato", Arial, sans-serif;
  max-width: 330px;
  width: 100%;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px; }
  .modal-btn:hover, .modal-btn:active, .modal-btn:focus, .modal-btn:visited {
    color: white;
    outline: none; }
