<script>
    import TopList from '../../mixins/top-list';

    export default {
        name: 'top-countries',

        mixins: [ TopList ],

        data() {
            return {
                url: '/top-countries.json'
            }
        },

        created() {
            Echo.channel('top-countries')
                .listen('TopCountriesUpdated', (event) => {
                    this.topList = event.countries;
                });
        }
    }
</script>

<template>
    <div class="rankings-country rank-toggle">
        <!-- RANK ITEM -->
        <div v-for="item in topList" class="rank-item">
            <div class="rank-personal pull-left">
                <div class="avatar pull-left">
                    <img src="/images/avatar.png"/>
                </div>
                <div class="name-container pull-left">
                    <strong>
                        <span class="country">{{ item.country }}</span>
                    </strong>
                </div>
            </div>
            <div class="love pull-right">
                <strong>
                    <span class="love-number">{{ item.votes }}</span>
                </strong>
            </div>
            <div class="clearfix"></div>
            <div class="split-dash"></div>
        </div><!-- end rank item -->
    </div><!-- rankings-user -->
</template>