<script>
    import TopList from '../../mixins/top-list';

    export default {
        name: 'top-users',

        mixins: [ TopList ],

        data() {
            return {
                url: '/top-users.json'
            }
        },

        created() {
            Echo.channel('top-users')
                .listen('TopUsersUpdated', (event) => {
                    this.topList = event.users;
                });
        }
    }
</script>

<template>
    <div class="rankings-user rank-toggle">
        <!-- RANK ITEM -->
        <div v-for="item in topList" class="rank-item">
            <div class="rank-personal pull-left">
                <div class="avatar pull-left">
                    <img :src="item.user.photo ? item.user.photo : '/images/avatar.png'"/>
                </div>
                <div class="name-container pull-left">
                    <strong>
                        <span class="name">{{ item.user.firstname }} {{ item.user.lastname }}</span>
                    </strong>
                    <span class="country">{{ item.user.homecountry }}</span>
                </div>
            </div>
            <div class="love pull-right">
                <strong>
                    <span class="love-number">{{ item.votes }}</span>
                </strong>
            </div>
            <div class="clearfix"></div>
            <div class="split-dash"></div>
        </div><!-- end rank item -->
    </div><!-- rankings-user -->
</template>