body{
  padding-right: 0 !important ;
}

header {
  background-color: #efeeec;
  position: relative;
  z-index: 999;
}

.wrap{
  position: relative;
}

.stats-wrap{
  position: absolute;
  z-index: 998;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 100px;
  transform: translateY(-150%);
  transition: ease-in-out 1s;
}

.flex-container{
  display: flex;

  &--align-center{
    align-items: center;
  }

  &--align-stretch{
    align-items: stretch;
  }

  &--justify-between{
    justify-content: space-between;
  }

  &--justify-around{
    justify-content: space-around;
  }
}

.vertical-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*JS Class*/

.open {
  transform: translateY(0);
}

.active-img{
  border-color: #2ebaee !important;
}

.visible-btn{
  display: block !important;
}