.logo {
  padding-right: 38px;
  padding-bottom: 7px;
  border-right: 2px solid #dcdcdc;
}

.counter {
  color: $header-color;
  font-family: $font-lato;
  font-size: 58px;
  font-weight: 400;
  line-height: 53.05px;
  text-transform: uppercase;
  padding-right: 13px;
}

.header-icon {
  display: inline-block;
}

.help {
  width: 40%;
  padding-left: 35px;
  padding-right: 35px;
  border-right: 2px solid #dcdcdc;
}

.info {
  &__text {
    font-family: $font-lato;
    font-size: 14px;
    font-weight: 300;
  }
}

.stats {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  cursor: pointer;
  font-family: $font-lato;
  font-size: 14px;
  font-weight: 300;
  width: 20%;
  text-align: center;

  &__icon {
    max-width: 42px;
  }

  &:hover,
  &.active-status{
    background-color: #fff;
    color: $header-color;
    font-weight: 400;
  }
}

.user-zone {
  width: 100%;
  background-color: $header-color;
  padding-left: 20px;
  min-height: 100px;
  box-shadow: -7px 4px 13px rgba(0, 0, 0, 0.19);
  cursor: pointer;

  &__text {
    color: #fff;
  }
}

.user-zone-title {
  font-family: $font-lato;
  font-size: 19px;
  font-weight: $font-lato-weight-bold;
}

.user-zone-description {
  font-family: $font-lato;
  font-size: 15px;
  font-weight: 300;
}

.user-avatar {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(66, 86, 209, 0.31);
  }
}