.modal-dialog{
  width: 880px;
  margin: 264px auto;
}

.modal-content{
  border: none;
}

.modal-header{
  padding-left: 70px;
  padding-right: 22px;
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #2ebaee;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;
  border-bottom: none;

  &--thx{
    padding-right: 70px;
  }
}

.modal-title{
  color: #ffffff;
  font-family: $font-lato;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 1px;

  span{
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    vertical-align: middle;
    margin-left: 10px;
  }

  &--thx{
    text-align: center;
    font-weight: 700;
  }
}

.close{
  float: none;
  position: absolute;
  top: 18px;
  right: 22px;
  opacity: 1;
}

.modal-body{
  padding-top: 60px;

  &--thx{
    padding-bottom: 60px;
    text-align: center;
    font-weight: 700;
  }

}

.modal-body-container{
  max-width: 805px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.photo-ch-wrp{
  margin-bottom: 30px;
  border: 7px solid transparent;
  cursor: pointer;

  img{
    width: 100%;
  }
}

.modal-footer{
  border-top: none;
  text-align: center;
  padding-top: 0;
  padding-bottom: 45px;
}

.modal-btn{
  display: none;
  border-radius: 31px;
  background-color: #2ebaee;
  color: white;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: $font-lato;
  max-width: 330px;
  width: 100%;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;

  &:hover,
  &:active,
  &:focus,
  &:visited{
    color: white;
    outline: none;
  }
}