.section-header{
  margin-bottom: 15px;
}

.section-title{
  font-family: Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: $slide-section-text;
}

.title-btn{
  display: block;
  cursor: pointer;
  padding: 25px 40px;
  border-radius: 35px;
  background-color: $header-color;
  color: #fff;

  &:hover,
  &:visited,
  &:active{
    color: #fff;
    text-decoration: none;
  }
}

.text-btn{
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
}

.date{
  color: $slide-section-text;
  font-family: $font-lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 20px;
}

.photo-wrp{
  position: relative;

  img{
    width: 100%;
  }
}

.photo-like{
  cursor: pointer;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70px;
  height: 45px;
  background-color: #725966;
}

.loi-count{
  font-family: $font-lato;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}

.photo-like{
  text-align: center;
  padding-top: 5px;
  div{
    display: inline-block;
  }
}

.like-icon{
  margin-right: 5px;
  width: 18px;
  height: 20px;
}

.row-items{
  margin-bottom: 45px;

  &:last-of-type{
    margin-bottom: 0;
  }
}

.approved{
  margin-bottom: 100px;
}