@import "mixins";

$font-lato: 'Lato', Arial, sans-serif;
$font-lato-weight-normal: 400;
$font-lato-weight-bold: 700;
$font-lato-weight-ultrabold: 900;

$font-chewy: 'Chewy', cursive;
$font-chewy-weight-normal: 400;

$color-h3: #d76f2c;

$color-x-roze: #d2664d;
$trans: all 0.3s ease-in-out 0s;

$header-color:#32a9d0;
$slide-section-text: #644756;
body {
    background-color: #ffffff;
    font-family: $font-lato;
    font-weight: $font-lato-weight-normal;
    font-size: 18px;

    color: #45484c;
}

h1 {
    font-size: 80px;
    font-family: $font-chewy;
}

h2 {
    font-size: 65px;
    font-family: $font-chewy;
    color: #519db7;
}

h3 {
    font-family: $font-chewy;
    color: $color-h3;
}

a {
    color: $color-x-roze;
    outline: none;
    &:hover,
    &:focus,
    &:active {
        outline: none;
        color: $color-x-roze;
    }
    transition: color 0.2s ease-out;
}
a:hover {
    color: #6a250c;
}

nav {
    margin: 32px 0 0 0;

    ul {
        li {
            list-style: none;
            margin: 0 0 0 22px;
        }
    }
}

header  {
    overflow: hidden;

    .vertical-center {
        position: relative;
    }

    .flex-container {
        position: relative;
        z-index: 99;

        .logo {
            border-color:rgba(220,220,220, 0);
            transition: all 0.2s ease-out;
        }

        .help,
        .stats,
        .user-zone
        {
            visibility: hidden;
            opacity: 0;
            transition: all 0.2s ease-out;
        }

        &.active {
            .logo {
                border-color:rgba(220,220,220, 1);
            }
            .help,
            .stats,
            .user-zone
            {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.notice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    transform: translateY(100%);
}

.icon {
    display: inline-block;
    transition: background 0.4s ease-out;

    &.icon-people {
        background: url("../images/icon_people_active.png") no-repeat;
        width: 37px;
        height: 22px;

        &.inactive {
            background: url("../images/icon_people_inactive.png") no-repeat;
        }
    }
    &.icon-person {
        background: url("../images/icon_person_active.png") no-repeat;
        width: 20px;
        height: 20px;

        &.inactive {
            background: url("../images/icon_person_inactive.png") no-repeat;
        }
    }
}

.help-stats {
    font-weight: $font-lato-weight-ultrabold;
    margin-top: 29px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    transition: color 0.4s ease-out;

    .help-stats-inner {
        position: absolute;
         width: 100%;
left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
    }

    &.inactive {
        color: #dedede;
    }

    .help-item {
        float: left;
        text-align: center;
        border-right: 1px solid #dbdbdb;
        padding: 0 20px 0 20px;
    }

    .help-item:first-child {
        border-left: 1px solid #dbdbdb;
    }

    .tagline {
        font-size: 11px;
        text-transform: uppercase;
    }
    .number {
        font-size: 24px;

        span {
            padding-left: 6px;
            padding-right: 6px;
        }
    }
}

.adm {
    .avatar {
        border-radius: 50% 50%;
        width: 60px;
        height: 60px;
        overflow: hidden;
        text-align: center;
    }
}

#fb-connect {
    position: relative;
    width: 100%;
    background-color: #4175ba;
    color: #ffffff;
    padding: 14px 0 0 0;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    .fb-icon {
        position: relative;
        bottom: 17px;
        display: inline-block;
        margin-right: 18px;
    }

    .text {
        position: relative;

        display: inline-block;

        span {
            display: block;
        }

        .highlight {
            position: relative;
            font-size: 23px;
            font-weight: $font-lato-weight-ultrabold;
        }

        .sub {
            position: relative;
            top: -4px;
            font-size: 14px;            
        }
    }

    .logged {
        overflow: hidden;
    }

    &.logged {
        height: 0;
        padding: 0;

        .container {
            display: none;
        }

        .fb-icon,
        .text {
            transform: scale(0);
        }
    }
}

#fb-connect:hover {
    background-color: #1c4a88;
}

#introduction {
    position: relative;

    background: url("../images/intro_bg.jpg") no-repeat center center; 
    background-size: cover;


    width: 100%;
    height: 365px;

    color: #ffffff;

    .text {
        position: relative;
        top: 35px;

        p {
            font-size: 18px;
        }
    }

    .icons {
        position: absolute;
        bottom: 0;

        background-color: #c872d8;
        background-color: rgba(200,114,216, 0.12);

        width: 100%;
        height: 125px;

        .icon {
            padding: 20px 0 0 0;
        }

        .icon-label {
            font-size: 14px;
            padding-top: 14px;
        }

    }
}

#vote {
    padding: 40px 0 40px 0;
    p {
        font-size: 18px;
        font-style: italic;
        color: #7b6a73;
        margin: 0 0 0 0;
    }

    h2 {
        margin: 0 0 10px 0;
    }

    .user-helped-container {
        position: relative;
        top: 0;
        left: 0;
        display: inline-block;

        .user-helped-current {
            position: relative;
            top: 0;
            left: 0;
        }

        .user-helped-next {
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
        }
    }

    .quote {
        display: inline-block;
        font-size: 18px;
        color: #000000;
    }

    .image-container {
        margin: 30px 0 60px 0;

        .no-padding {
            padding: 0;
        }

        .image-item {
            padding: 0 20px 0 0;
            cursor: pointer;

            .thumb-container {
                position: absolute;
                right: 20px;
                bottom: 0;
                background: #ffffff;
                background: rgba(255,255,255, 0.5);

                z-index: 997;

                .thumb-yes {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;

                    transition: opacity 0.2s ease-out;

                    z-index: 995;
                }
                .thumb-default {
                    position: relative;
                    top: 0;
                    left: 0;

                    opacity: 0.5;
                }

                &.active {
                    background: #644756;
                    background: rgba(100,71,86, 1);

                    .thumb-yes {
                        opacity: 1;
                    }
                }

                transition: background-color 0.1s ease-out;
            }

            .user-image {
                position: relative;
                width: 100%;
                overflow: hidden;

                img {
                    max-width: 100%;
                }

                .image-current {
                    position: relative;
                    top: 0;
                    left: 0;

                    width: 100%;
                    z-index: 994;

                    &.fade-out {
                        opacity: 0.1;

                        .thumb-container {
                            display: none;
                        }
                    }
                }

                .image-next {
                    position: absolute;
                    top: 0;
                    left: 100%;

                    width: 100%;
                    z-index: 995;
                }
            }
            
            &.fade-out {
                .thumb-container {
                    display: none;
                }
            }
        }
        .image-item:hover {
            .thumb-container {
                background: #644756;
                background: rgba(100,71,86, 1);

                .thumb-yes {
                    opacity: 1;
                }
            }
        }
    }

    .contributors {
        h3 {
            color: #644756;
            font-size: 36px;
        }

        .contributor-rankings {
            margin: 30px 0 0 0;

            .nav-toggle {
                color: #9e9e9e;
                border-top: 1px solid #d5d5d5;
                border-bottom: 1px solid #d5d5d5;
                text-align: center;
                cursor: pointer;

                .nav-toggle-item:hover {
                    color: #519db7;
                }

                .nav-toggle-user {
                    border-right: 1px solid #d5d5d5;
                    
                }

                .nav-toggle-user, .nav-toggle-country {
                    padding: 20px 0 20px 0;
                }

                .active {
                    color: #519db7;
                }
            }

            .rankings {
                .rank-item {
                    padding: 20px 0 0;

                    .name-container {
                        font-size: 17px;
                        margin: -2px 0 0 10px;

                        .country {
                            display: block;
                            font-size: 13px;
                            color: #9b9997;
                            margin-top: -5px;
                        }
                    }

                    .love {
                        background: url("../images/heart.png") no-repeat;
                        width: 30px;
                        height: 27px;
                        font-size: 11px;
                        color: #ffffff;
                        text-align: center;

                        position: relative;
                        top: 4px;

                        .love-number {
                            position: relative;
                            top: 4px;
                        }
                    }

                    .split-dash {
                        background: url("../images/split_dash.png") repeat-x;
                        height: 1px;
                        margin: 20px 0 0 0;
                    }
                }

                .rankings-country {
                    .rank-item {
                        padding: 20px 0 0;

                        .name-container {
                            .country {
                                margin: 7px 0 0 0;
                                font-size: 17px;
                                color: #45484c;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}