@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

// Rem output with px fallback
/*@mixin font-size($sizeValue: 1) {
    font-size: ($sizeValue * 16) * 1px;
    font-size: $sizeValue * 1rem;
}
*/
@mixin font-size($sizeValue: 16, $line: $sizeValue * $line-height--calculated) {
    font-size: ($sizeValue) + px;
    line-height: ($line) + px;
    font-size: ($sizeValue / 16) + rem;
    line-height: ($line / 16) + rem;
}
// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
// Clearfix
/*
@mixin clearfix() {
    &:after,
    &:before {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}
*/
@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*********************
BREAKPOINTS
*********************/
@mixin breakpoint($point) {
     @if $point==desktop-lg{
        @media (min-width: 1280px) {
             @content;
        }
    }
    @else if $point==desktop {
         @media (min-width: 1024px){
            @content;
        }
    }
    @else if $point==tablet-landscape {
         //@media (min-device-width: 771px) and (max-device-width: 1024px) and (max-height: 800px) {
        @media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
            @content;
        }
    }
    @else if $point==tablet {
         @media (max-width: 770px){
            @content;
        }
    }
    @else if $point==mobile {
         @media (max-width: 420px){
            @content;
        }
    }
    @else if $point==mobile-xs {
         @media (max-width: 320px){
            @content;
        }
    }
}
/*
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}
*/